:root {
  --vermelho-figueira: #E31937;
  --preto: #000000;
  --branco: #FFFFFF;
  --bege: #f7f4ed;
  --cinza-escuro: #2C2C2C;
  --cinza-claro: #dce2ee;
  --azul: #3973cc;
  --roxo: #a259e4;
  --amarelo: #eab308;
  --rosa: #d72660;
  --verde: #26A96C;
  --verde-claro: #40C057;
  --amarelo-claro: #facc15;
}

body, html {
  background: var(--bege);
  font-family: 'Lato', 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto 40px auto;
  padding: 0 18px;
}

header {
  text-align: center;
  margin-top: 30px;
}

.icon-lupa {
  font-size: 38px;
  vertical-align: middle;
  margin-right: 4px;
}

.titulo {
  font-family: 'Poppins', Arial, sans-serif;
  color: var(--vermelho-figueira);
  font-weight: 800;
  font-size: 2.5rem;
  vertical-align: middle;
  margin-left: 6px;
}

.subtitulo {
  color: var(--cinza-escuro);
  font-family: 'Lato', Arial, sans-serif;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 1.08rem;
  font-weight: 400;
}

/* Tabela dos tipos */
.tipos-caracteres {
  background: var(--branco);
  border-radius: 18px;
  margin: 24px auto 20px auto;
  padding: 20px 24px;
  box-shadow: 0 2px 9px #0001;
  max-width: 100%;
}
.tipos-caracteres h3 {
  font-family: 'Poppins', Arial, sans-serif;
  color: var(--cinza-escuro);
  font-size: 1.26rem;
  margin: 0 0 12px 0;
  font-weight: 700;
}
.tipos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 0 26px;
  font-size: 1.08rem;
}
.tipo-caractere {
  min-width: 290px;
  margin-bottom: 3px;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.tipo-caractere.vermelho { color: var(--vermelho-figueira);}
.tipo-caractere.azul { color: var(--azul);}
.tipo-caractere.amarelo { color: var(--amarelo);}
.tipo-caractere.roxo { color: var(--roxo);}
.tipo-caractere.rosa { color: var(--rosa);}
.tipo-caractere.verde { color: var(--verde);}
.tipo-caractere['verde-claro'], .tipo-caractere.verde-claro { color: var(--verde-claro);}
.tipo-caractere.amarelo-claro { color: var(--amarelo-claro);}

.area-main {
  display: flex;
  gap: 28px;
  margin-top: 20px;
  margin-bottom: 24px;
  justify-content: space-between;
}
.box-texto, .box-analise {
  flex: 1 1 0;
  background: var(--branco);
  border-radius: 18px;
  box-shadow: 0 2px 8px #0001;
  padding: 18px 22px 18px 22px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 230px;
  max-width: 48%;
}

.label {
  font-fa
